.content {
	background-color: white;
	padding: 3.5rem;
	border-radius: 5px;
	display: flex;
	flex-direction: column;
	width: 40vw;
	border: solid gray 1px;

	#description {
		padding: 2rem 0;
		text-align: center;
	}

	.prev-next-btn {
		display: flex;
		justify-content: space-between;
		border-top: solid rgb(229, 229, 229) 0.2rem;
		flex-wrap: wrap;
	}

	#proceed-btn {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	select {
		padding: 0.4rem;
		width: 100%;
	}

	textarea {
		padding: 0.2em;
	}
}

#type-fields {
	display: flex;
	flex-direction: column;
	gap: 0.8rem;
	padding: 1.5rem 0 3rem 0;

	#name,
	#email,
	#number {
		height: 3.5rem;
		padding: 0 0.5rem;
	}

	input {
		border: rgb(219, 220, 231) solid 0.1em;
	}
}

.fields {
	margin-top: 1rem;
	display: flex;
	flex-direction: column;
	gap: 0.6rem;
}

input[type="radio"] {
	border-color: rgb(222, 225, 232);
}

.radio-checkbox-multiline-container {
	display: flex;
	flex-direction: column;
	gap: 0.8rem;
	padding: 2rem 0;
}

#dropdown-container {
	padding: 2rem 0;
}

@media screen and (max-width: 732px) {
	.prev-next-btn {
		flex-direction: column;
		align-content: center;
	}
}
