header {
	width: 100vw;
	position: fixed;
	background: rgba(0, 0, 0, 0.2);
	padding: 1rem 2rem;
	color: rgb(73, 172, 101);
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-bottom: solid 0.5px;

	img {
		max-width: 100%;
		width: 40px;
	}
}
