#outer-wrap {
	height: 100vh;
	overflow: hidden;
	scroll-behavior: smooth;
	background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.3)),
		url("img/bg-img.jpg") no-repeat fixed;
	background-size: cover;
}

.slide {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100vw;
	height: 100vh;
}
