* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Lato", sans-serif;
}
body header {
  font-size: 1.2rem;
}
body header #title {
  font-weight: 700;
}

.content {
  font-size: 2rem;
}
.content #description {
  font-size: 2.3rem;
  color: #424250;
}
.content .ask-input {
  font-size: 2.3rem;
  color: #424250;
}
.content #required-input {
  font-size: 1rem;
  color: #424250;
}
.content #name,
.content #email,
.content #number {
  font-size: 1.4rem;
}
.content label[for=dropdown] {
  font-size: 1.4rem;
}
.content select {
  font-size: 1.4rem;
}
.content label[for=comments] {
  font-size: 1.4rem;
}
.content textarea {
  font-size: 2rem;
}

#type-fields input {
  color: #1b1b1c;
}

label {
  color: #818192;
}

.radio-checkbox-div label {
  font-size: 2.1rem;
}

.link-button {
  font-size: 1.8rem;
}

.link-button {
  cursor: pointer;
  background-color: #5ed17f;
  color: white;
  border: 0;
  border-radius: 4px;
  padding: 0.5em 2em;
  margin-top: 3rem;
}
.link-button:hover {
  opacity: 0.8;
}

header {
  width: 100vw;
  position: fixed;
  background: rgba(0, 0, 0, 0.2);
  padding: 1rem 2rem;
  color: #49ac65;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: solid 0.5px;
}
header img {
  max-width: 100%;
  width: 40px;
}

#outer-wrap {
  height: 100vh;
  overflow: hidden;
  scroll-behavior: smooth;
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.3)), url("img/bg-img.jpg") no-repeat fixed;
  background-size: cover;
}

.slide {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.content {
  background-color: white;
  padding: 3.5rem;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  width: 40vw;
  border: solid gray 1px;
}
.content #description {
  padding: 2rem 0;
  text-align: center;
}
.content .prev-next-btn {
  display: flex;
  justify-content: space-between;
  border-top: solid #e5e5e5 0.2rem;
  flex-wrap: wrap;
}
.content #proceed-btn {
  display: flex;
  justify-content: center;
  align-items: center;
}
.content select {
  padding: 0.4rem;
  width: 100%;
}
.content textarea {
  padding: 0.2em;
}

#type-fields {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  padding: 1.5rem 0 3rem 0;
}
#type-fields #name,
#type-fields #email,
#type-fields #number {
  height: 3.5rem;
  padding: 0 0.5rem;
}
#type-fields input {
  border: #dbdce7 solid 0.1em;
}

.fields {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
}

input[type=radio] {
  border-color: #dee1e8;
}

.radio-checkbox-multiline-container {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  padding: 2rem 0;
}

#dropdown-container {
  padding: 2rem 0;
}

body {
  animation: fadeInAnimation ease 0.6s 1;
  animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

/*# sourceMappingURL=style.css.map */
